
  .box{
    border: 1px solid darkblue;
    width: 1150px;
    height: 500px;
    margin: -550px auto;
    justify-content: center;
    display: flex;
  }
  .card {
    border: 1px solid darkblue;
margin: auto;    
    width: 800px;
    height: 550px;

    justify-content: start;
}

 th {
    color: black;
    font-size: 18px;
}

a p{
    color: black;
    font-size: 14px;
}

p{
    font-size:12px ;
} 
 
button{
align-content: center;
margin: -100px auto;
    /* padding: 1%; */
}
