@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.mat-form-field {
    margin-top: 16px;
  }

  .box {
    border: 1px solid darkblue;
    width: 700px;
    height: 500px;
    margin: 20px auto;
    padding: 10%;
    justify-content: center;
    display: flex;


  }
     